<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

<b>Ezgi Tasti</b><br>
Data Scientist

<i>I am interested in data science because data is very powerful and data science allows me to discover and unreveal the hidden knowledge in the data. Apart from unrevealing this knowledge, it also helps how to make use of it and convert it into a valuable information. </i>

### The code in the following cell is responsible from a simple mathematical operation. There are two variables; <i>x</i> and <i>y</i>. In the first two lines, values will be assigned to these variables and then in the third line, the two variables will be summed.

In [2]:
x = 10
y = 5
x+y

15

| Name          | Surname       | Age   |
| ------------- |:-------------:| -----:|
| John          | Doe           | 23    |
| Mary          | Jane          | 33    |
| Mark          | Newman        | 38    |

[Visit Google](https://www.google.com)

<b>Ordered List</b>
1. First item
2. Second itrm